<div class="card-header">
  <h3 class="card-title">Antennes</h3>
  <br />
  <div style="width: 200px; margin-left: 85%; margin-top: -3%">
    <input
      class="form-control"
      placeholder="Chercher"
      type="text"
      [(ngModel)]="searchtext"
    />
  </div>
  <a href="javascript:void(0) " class="text-success" (click)="opendialog()">
    Ajouter un antenne
  </a>
</div>
<br />
<br />

<br />

<table
  matSort
  (matSortChange)="sortData($event)"
  id="datatables-buttons"
  class="table table-striped"
  style="width: 100%"
>
  <thead>
    <tr>
      <th mat-sort-header="AntennaCode">Code Antenne</th>
      <th mat-sort-header="AntennaLabel">Label antenne</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of returnedArray | filter : searchtext">
      <td>{{ c.antennaCode }}</td>

      <td>{{ c.antennaLabel }}</td>
      <td>
        <button class="btn btn-danger" (click)="Delete(c.antennaId)">
          Delete
        </button>
      </td>
      <td>
        <button class="btn btn-success">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination
  class="pagination-danger"
  [totalItems]="antennas.length"
  [itemsPerPage]="5"
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;"
></pagination>
