<div style="width: 100%; display: flex; justify-content: center" class="logo">
  <img width="150" height="50" src="assets/images/Asset 1.png" />
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a> <i class="fa fa-person"></i> Users </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a> <i class="fa fa-"></i> Posts </a>
    </li>

    <li routerLinkActive="active" class="nav-item">
      <a> <i class="fa fa-"></i> Comments </a>
    </li>
  </ul>
</div>
