<div class="card-header">
  <h2 class="text-uppercase idle">Liste des Roles</h2>

  <br />
  <div style="width: 200px; margin-left: 85%; margin-top: -3%">
    <input
      class="form-control"
      placeholder="Chercher"
      type="text"
      [(ngModel)]="searchtext"
    />
  </div>
  <a
    href="javascript:void(0) "
    class="btn btn-success btn-simple"
    (click)="opendialog()"
  >
    Ajouter un Role
  </a>
</div>
<br />
<br />

<br />

<table
  matSort
  (matSortChange)="sortData($event)"
  id="datatables-buttons"
  class="table table-striped"
  style="width: 100%"
>
  <thead>
    <tr>
      <th mat-sort-header="Role">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of returnedArray | filter : searchtext">
      <td>{{ c.role }}</td>
      <td>
        <button class="btn btn-danger" (click)="Delete(c.roleId)">
          Delete
        </button>
      </td>
      <td>
        <button class="btn btn-success">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination
  class="pagination-danger"
  [totalItems]="roles.length"
  [itemsPerPage]="5"
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;"
></pagination>
