<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<div class="container">
  <div class="row">
    <div >
      <div class="card " style="  
      maegin-left:65%;
      height: 620px;
      width: 700px;
      background-color: rgba(32, 36, 76, 0.445);
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(252, 6, 6, 0.655);
      box-shadow: 0 0 40px rgba(244, 141, 141, 0.259);
      ">         <div class="card-header">
          <h1 class="card-title">Ajouter une Société</h1>
        </div>

        <div class="card-body">
          <form class="form">
            <div
              class="input-group"
              [ngClass]="{ 'input-group-focus': focus === true }"
            >
              <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>
              <input
                class="form-control"
                placeholder="codeSociétés"
                [(ngModel)]="societe.codeSocietes"
                name="codeSociétés"
                type="text"
                required
                minlength="5"
                (focus)="focus = true"
                (blur)="focus = false"
              />
            </div>

            <div
              class="input-group"
              [ngClass]="{ 'input-group-focus': focus1 === true }"
            >
              <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>
              <input
                class="form-control"
                placeholder="Adresse"
                [(ngModel)]="societe.Adresse"
                name="adresse"
                required
                minlength="5"
                type="text"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
              />
            </div>

            <div
              class="input-group"
              [ngClass]="{ 'input-group-focus': focus2 === true }"
            >
              <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>
              <input
                class="form-control"
                placeholder="Capital Social"
                [(ngModel)]="societe.CapitalSocial"
                name="capitalSocial"
                type="text"
                required
                minlength="5"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
              />
            </div>

            <div
              class="input-group"
              [ngClass]="{ 'input-group-focus': focus3 === true }"
            >
              <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>
              <input
                class="form-control"
                placeholder="Raison Social"
                required
                minlength="8"
                maxlength="8"
                type="text"
                [(ngModel)]="societe.RaisonSocial"
                name="RaisonSocial"
                (focus)="focus3 = true"
                (blur)="focus3 = false"
              />
            </div>

            <div
              class="input-group"
              [ngClass]="{ 'input-group-focus': focus4 === true }"
            >
              <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>
              <input
                class="form-control"
                placeholder="Telephone"
                [(ngModel)]="societe.tel"
                name="tel"
                required
                minlength="5"
                type="text"
                (focus)="focus4 = true"
                (blur)="focus4 = false"
              />
            </div>
            <div class="card-footer">
              <div class="text-center">
                <a
                  class="btn btn-danger"
                  href="javascript:void(0)"
                  (click)="AddSociete()"
                >
                  Ajouter
                </a>
                <br />
                <a
                  class="btn btn-danger btn-simple"
                  title="Annuler"
                  (click)="closeDialog()"
                  id="Annuler"
                  >Annuler
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
