<div class="card-header">
  <h2 class="text-uppercase idle">Liste des bons de livraison</h2>

  <a
    class="btn btn-success btn-simple"
    href="javascript:void(0) "
    (click)="opendialog()"
  >
    Ajouter un bon de livraison
  </a>
</div>
<div class="card-body">
  <table
    id="datatables-buttons"
    class="table table-striped"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th>type</th>

        <th>numBE</th>
        <th>numBL</th>
        <th>Date de livraison</th>
        <th>chauffeur</th>
        <th>numPlombage</th>
        <th>dateBE</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of BLs">
        <td>{{ c.typeBL }}</td>

        <td>{{ c.numBE }}</td>
        <td>{{ c.numBL }}</td>
        <td>{{ c.dateLivraison }}</td>

        <td>{{ c.chauffeur }}</td>
        <td>{{ c.numPlombage }}</td>

        <td>{{ c.status }}</td>
        <td></td>
        <td></td>

        <td class="dropdown nav-item" dropdown>
          <a
              class="dropdown-toggle nav-link dropdown-toggle"
              data-toggle="dropdown"
              dropdownToggle
              href="javascript:void(0)"
            >
          <a >
             <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </a>
          </a>
          <div 
            style="background: rgb(36, 37, 38)"
            class="dropdown-menu dropdown-with-icons" *dropdownMenu>
          <a
                class="dropdown-item text-white"
                (click)="openUpdateDialog(c)">
                Update
          </a>
          <a
                class="dropdown-item text-white"
                (click)="Delete(c.blId)">
                Delete
          </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination
    class="pagination-danger"
    [totalItems]="BLs.length"
    [itemsPerPage]="5"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  ></pagination>
</div>
