<div >
    <div class="container d-flex justify-content-center">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img
            src="../../../assets/img/ryan.jpg"
            width="100"
            class="rounded-circle"
          />
  
          <h3 class="mt-2">{{3 }}</h3>
          <span class="mt-1 clearfix">
            {{ 1 }} {{ 2 }}
          </span>
          <span class="mt-1 clearfix">
            {{ 00 }}
          </span>
          <div class="row mt-4 mb-4">
            <div class="col-md-4">
              <h5>Posts</h5>
              <span class="num">{{50 }}</span>
            </div>
            <div class="col-md-4">
              <h5>Following</h5>
              <span class="num">10</span>
            </div>
            <div class="col-md-4">
              <h5>Followed</h5>
              <span class="num">10</span>
            </div>
          </div>
          <br />
  
          <a
            
            style="cursor: pointer"
           
            class="btn btn-primary btn-round mr-1"
            href="javascript:void(0)"
          >
            update profile
          </a>
  
          <a
            style="cursor: pointer"
            class="btn btn-primary btn-round mr-1"
            href="javascript:void(0)"
          >
            Follow profile
          </a>
        </div>
      </div>
    </div>
    <br />
    <app-updateprofile ></app-updateprofile>
    <br />
    <br />
  </div>
  