<div class="card-header">
  <h2 class="text-uppercase idle">Liste des Batiments</h2>

  <br />
<div class="example-header">
  <div style="width: 200px; margin-left: 85%; margin-top: -3%">

  <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
 
  </mat-form-field>
  </div>
</div>

<div class="example-container mat-elevation-z8">
</div>
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="centerLabel"  >
      <mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header class="idle"> centerLabel </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.background-color]="color" class="text-white"> {{row.centerLabel}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rotationActuelle"  >
      <mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header class="idle"> rotationActuelle </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.background-color]="color" class="text-white"> {{row.rotationActuelle}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="codeSpecification"  >
      <mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header class="idle"> codeSpecification </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.background-color]="color" class="text-white"> {{row.codeSpecification}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="usefulSurface">
      <mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header class="idle"> usefulSurface </mat-header-cell>
      <mat-cell *matCellDef="let row"[style.background-color]="color" class="text-white"> {{row.usefulSurface}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buildingNumber">
      <mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header class="idle"> buildingNumber </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.background-color]="color" class="text-white"> {{row.buildingNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header class="idle"> isActive </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.background-color]="color" class="text-white"> {{row.isActive}} </mat-cell>
    </ng-container>

     <ng-container matColumnDef="centerCode">
      <mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header class="idle"> centerCode </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.background-color]="color" class="text-white"> {{row.centerCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="socialReason">
      <mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header class="idle"> socialReason </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.background-color]="color" class="text-white"> {{row.socialReason}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="blPrefixNumber">
      <mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header class="idle"> blPrefixNumber </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.background-color]="color" class="text-white"> {{row.blPrefixNumber}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator class="text-white" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

