<div class="card-header">
  <h2 class="text-uppercase idle">Liste des Centres</h2>

  <br />
  <div style="width: 200px; margin-left: 85%; margin-top: -3%">
    <input
      class="form-control"
      placeholder="Chercher"
      type="text"
      [(ngModel)]="searchtext"
    />
  </div>
  <a
    href="javascript:void(0) "
    class="btn btn-success btn-simple"
    (click)="opendialog()"
  >
    Ajouter un Centre
  </a>
</div>
<br />
<br />

<br />

<table
  matSort
  (matSortChange)="sortData($event)"
  id="datatables-buttons"
  class="table table-striped"
  style="width: 100%"
>
  <thead>
    <tr>
      <th mat-sort-header="CenterLabel">CenterLabel</th>
      <th mat-sort-header="RotationActuelle">RotationActuelle</th>
      <th mat-sort-header="CodeSpecification">CodeSpecification</th>
      <th mat-sort-header="UsefulSurface">UsefulSurface</th>
      <th mat-sort-header="BuildingNumber">BuildingNumber</th>

      <th mat-sort-header="IsActive">IsActive</th>
      <th mat-sort-header="CenterCode">CenterCode</th>

      <th mat-sort-header="SocialReason">SocialReason</th>
      <th mat-sort-header="BlPrefixNumber">BlPrefixNumber</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of centers | filter : searchtext">
      <td>{{ c.centerLabel }}</td>

      <td>{{ c.rotationActuelle }}</td>

      <td>{{ c.codeSpecification }}</td>
      <td>{{ c.usefulSurface }}</td>
      <td>{{ c.buildingNumber }}</td>
      <td>{{ c.isActive }}</td>
      <td>{{ c.centerCode }}</td>
      <td>{{ c.socialReason }}</td>
      <td>{{ c.blPrefixNumber }}</td>
      <td>
        <button class="btn btn-danger" (click)="Delete(c.centerId)">
          Delete
        </button>
      </td>
      <td>
        <button class="btn btn-success">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination
  class="pagination-danger"
  [totalItems]="centers.length"
  [itemsPerPage]="5"
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;"
></pagination>
