<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="idle text-uppercase">utilisateurs</h3>
            <span class="h2 font-weight-bold mb-0 text-white">
              {{ nbrUsers }}
            </span>
          </div>

          <div class="col-auto">
            <div
              class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
            >
              <i class="ni ni-active-40"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="idle text-uppercase">utilisateurs Actif</h3>
            <span class="h2 font-weight-bold mb-0 text-white">
              {{ nbrActiveUsers }}
            </span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
            >
              <i class="ni ni-chart-pie-35"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="idle text-uppercase">Chef Centres</h3>
            <span class="h2 font-weight-bold mb-0 text-white">
              {{ nbrchefs }}
            </span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
            >
              <i class="ni ni-money-coins"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="idle text-uppercase">administrateurs</h3>
            <span class="h2 font-weight-bold mb-0 text-white">
              {{ nbradmins }}
            </span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
            >
              <i class="ni ni-chart-bar-32"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category"></h5>
        <h3 class="card-title">
          <i class="tim-icons icon-bell-55 text-primary"></i> Articles by Center
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas
            id="chartLineRed"
            style="display: block; height: 220px; width: 268px"
            width="335"
            height="275"
            class="chartjs-render-monitor"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category"></h5>
        <h3 class="card-title">
          <i class="tim-icons icon-delivery-fast text-info"></i>Article by type
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas
            id="CountryChart"
            width="335"
            height="275"
            style="display: block; height: 220px; width: 268px"
            class="chartjs-render-monitor"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h3 class="card-title">
          <i class="tim-icons icon-send text-success"> </i>
          Commands
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas
            id="chartLineGreen"
            width="335"
            height="275"
            style="display: block; height: 220px; width: 268px"
            class="chartjs-render-monitor"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-left: -15px; width: 100%">
  <div class="col-12">
    <div style="border-radius: 10px" class="card">
      <div class="card-body idle">
        <mat-tab-group animationDuration="2000ms" [backgroundColor]="'primary'">
          <mat-tab label="Chef Centers">
            <app-chefcentre-table></app-chefcentre-table>
          </mat-tab>
          <mat-tab label="Centres">
            <app-centres-table></app-centres-table>
          </mat-tab>

          <mat-tab label="Antennes">
            <app-antennalist-table></app-antennalist-table>
          </mat-tab>
          <mat-tab label="Roles">
            <app-roles-table></app-roles-table>
          </mat-tab>
          <mat-tab label="societes">
            <app-societe-table></app-societe-table>
          </mat-tab>
          <mat-tab label="Speculations">
            <app-speculation-table></app-speculation-table>
          </mat-tab>
          <mat-tab label="Types">
            <app-type-table></app-type-table>
          </mat-tab>
          <mat-tab label="Domaines">
            <app-domain-table></app-domain-table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
