<app-counts></app-counts>

<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart" style=" border-radius: 10px;border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
        <div class="card-header">
        <h5 class="card-category"></h5>
        <h3 class="card-title text-uppercase font-weight-bold ">
          Utilisateurs par role
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas
            id="chartLineRed"
            style="display: block; height: 220px; width: 268px"
            width="335"
            height="275"
            class="chartjs-render-monitor"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4" >
    <div class="card card-chart" style="border-radius: 10px; border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-header">
        <h5 class="card-category"></h5>
        <h3 class="card-title text-uppercase font-weight-bold">
          Center by Antenna
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas
            id="CountryChart"
            width="335"
            height="275"
            style="display: block; height: 220px; width: 268px"
            class="chartjs-render-monitor"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart" style=" border-radius: 10px;border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
        <div class="card-header">
        <h3 class="card-title text-uppercase font-weight-bold ">
          Batiments par centre
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas
            id="chartLineGreen"
            width="335"
            height="275"
            style="display: block; height: 220px; width: 268px"
            class="chartjs-render-monitor"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-left: -15px; width: 100%">
  <div class="col-12">
    <div style="border-radius: 10px ; border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);" class="card">
      <div class="card-body" >
        <mat-tab-group animationDuration="2000ms" [backgroundColor]="'primary'">
          <mat-tab label="Chef Centers">
            <app-chefcentre-table></app-chefcentre-table>
          </mat-tab>
          <mat-tab label="Centres">
            <app-centres-table ></app-centres-table>
          </mat-tab>

          <mat-tab label="Antennes">
            <app-antennalist-table></app-antennalist-table>
          </mat-tab>
          <mat-tab label="Roles">
            <app-roles-table></app-roles-table>
          </mat-tab>
          <mat-tab label="societes">
            <app-societe-table></app-societe-table>
          </mat-tab>
          <mat-tab label="Speculations">
            <app-speculation-table></app-speculation-table>
          </mat-tab>
          <mat-tab label="Types">
            <app-type-table></app-type-table>
          </mat-tab>
          <mat-tab label="Domaines">
            <app-domain-table></app-domain-table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
