<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="squares square10"></div>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
    <app-login></app-login>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
