<div class="card-header">
  <h3 class="card-title">Domaines</h3>
  <br />
  <div style="width: 200px; margin-left: 85%; margin-top: -3%">
    <input
      class="form-control"
      placeholder="Chercher"
      type="text"
      [(ngModel)]="searchtext"
    />
  </div>
  <a href="javascript:void(0) " class="text-success" (click)="opendialog()">
    Ajouter un Domaine
  </a>
</div>
<br />
<br />

<br />

<table
  matSort
  (matSortChange)="sortData($event)"
  id="datatables-buttons"
  class="table table-striped"
  style="width: 100%"
>
  <thead>
    <tr>
      <th mat-sort-header="domaineName">Nom domaine</th>
      <th mat-sort-header="raisonSocial">Raison Social</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of Domain | filter : searchtext">
      <td>{{ c.domaineName }}</td>

      <td>{{ c.raisonSocial }}</td>

      <td>
        <button class="btn btn-success" (click)="Delete(c.domaineId)">
          Delete
        </button>
      </td>
      <td>
        <button class="btn btn-danger">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<app-pagination
  #pagination
  [collectionSize]="4"
  [pageSize]="5"
  [firstLastButtons]="true"
  [maxSize]="2"
></app-pagination>
