.mat-ink-bar {
  background-color: green;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: white;
  background-color: rgba(6, 203, 252, 0.655);
}

::ng-deep .mat-tab-list .mat-tab-labels {
  color: white;
  background-color: #1f2251;
}

.idle {
  color: #f33d46;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

.green{
  color: #17c8af;
}