
<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats " style="border-radius: 10px; border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-uppercase font-weight-bold idle">
              Total Users
            </h3>
            <h3 class="h3 text-uppercase font-weight-bold mb-0">
              {{ 3 }} 
            </h3>  
          </div>

          <div class="col-auto">
            <div
              class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
            >
              <i class="ni ni-active-40"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats" style=" border-radius: 10px;border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-uppercase font-weight-bold idle">
              Active Users
            </h3>
            <h3 class="h3 text-uppercase font-weight-bold mb-0">
              {{ 1 }}
            </h3>  
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
            >
              <i class="ni ni-chart-pie-35"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats" style="border-radius: 10px; border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-uppercase font-weight-bold idle">
              Chef Centers
            </h3>
            <h3 class="h3 text-uppercase font-weight-bold mb-0">
              {{ 1 }}
            </h3>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
            >
              <i class="ni ni-money-coins"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats" style="border-radius: 10px; border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-uppercase font-weight-bold idle">
              Admins
            </h3>
            <h3 class="h3 text-uppercase font-weight-bold mb-0">
              {{ 1 }} 
            </h3>  
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
            >
              <i class="ni ni-chart-bar-32"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart" style=" border-radius: 10px;border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-header">
        <h5 class="card-category"></h5>
        <h3 class="card-title text-uppercase font-weight-bold">
          Articles by Center
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas
            id="chartLineRed"
            style="display: block; height: 220px; width: 268px"
            width="335"
            height="275"
            class="chartjs-render-monitor"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart" style=" border-radius: 10px;border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-header">
        <h5 class="card-category"></h5>
        <h3 class="card-title text-uppercase font-weight-bold">
          Article by type
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas
            id="CountryChart"
            width="335"
            height="275"
            style="display: block; height: 220px; width: 268px"
            class="chartjs-render-monitor"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart"style="border-radius: 10px; border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-header" >
        <h3 class="card-title text-uppercase font-weight-bold ">
          Batiments par centre
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas
            id="chartLineGreen"
            width="335"
            height="275"
            style="display: block; height: 220px; width: 268px"
            class="chartjs-render-monitor"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-left: -15px; width: 100%">
  <div class="col-12">
    <div style="border-radius: 10px;border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);" class="card">
      <div class="card-body">
        <mat-tab-group animationDuration="2000ms" [backgroundColor]="'primary'">

          <mat-tab label="Demande Veto">
            <app-demandeveto-table></app-demandeveto-table>
          </mat-tab>
          <mat-tab label="Centre">
            <app-centersbyantenna-table></app-centersbyantenna-table>      
          </mat-tab>    
          <mat-tab label="Buildings">
          <app-building-by-antenna-table></app-building-by-antenna-table>
        </mat-tab>
        <mat-tab label="Vetos">
        <app-veto-by-antenna-table></app-veto-by-antenna-table>
      </mat-tab>
      <mat-tab label="collectors">
          <app-collectors-by-antenna-table></app-collectors-by-antenna-table>
      </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
