<div class="row idle">
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats redx" style=" border-radius: 10px;border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-uppercase font-weight-bold idle">utilisateurs</h3>
            <h3 class="h3 text-uppercase font-weight-bold mb-0">
              {{ nbrUsers }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats redx"style=" border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-uppercase font-weight-bold idle">
              utilisateurs Actif
            </h3>
            <h3 class="h2 font-weight-bold mb-0">
              {{ nbrActiveUsers }}
            </h3>
          </div>
          <div class="col-auto"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats redx" style="border-radius: 10px; border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-uppercase font-weight-bold idle">Chef Centres</h3>
            <h3 class="h2 font-weight-bold mb-0">
              {{ nbrchefs }}
            </h3>
          </div>
          <div class="col-auto"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats redx"style="border-radius: 10px; border: 2px solid rgba(6, 203, 252, 0.655);
    box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-uppercase font-weight-bold idle">
              administrateurs
            </h3>
            <h3 class="h2 font-weight-bold mb-0">
              {{ nbradmins }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
