<div style="position: fixed; margin-left: 48%; margin-top: 60px">
  <img src="../../../assets/images/Asset 3.png" width="200" />
</div>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<!--Stylesheet-->
<div style="position: fixed; margin-left: 45%; margin-top: 165px">
  <img  src="assets/images/Asset 1.png" width="1200" />
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
      <div style= "margin-top: 50%" >
      <div class="card card-register" style="  
      margin-top: 10%;
      height: 520px;
      width: 400px;
      background-color: rgba(255,255,255,0.13);
      position: absolute;
      transform: translate(-50%,-50%);
      top: 80%;
      left: 50%;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(255,255,255,0.1);
      box-shadow: 0 0 40px rgba(8,7,16,0.6);
      ">
        <div class="card-header">
          <img
            alt="Card image"
            class="card-img"
            src="assets/img/square1-red.png"
          />

          <h3 class="card-title">Login</h3>
        </div>
        <br />
        <br />
        <div class="card-body">
          <form class="form">
            <div class="input-group">
             
              <input
                class="form-control "
                placeholder="Username"
                [(ngModel)]="form.username"
                name="username"
                type="text"
                required
                minlength="0"
              />
            </div>

            <div class="input-group">
             
              <input
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                placeholder="Password"
                type="password"
                required
                min="5"
              />
            </div>

            <div class="card-footer">
              <div style="margin-left: 30%">
                <a
                  class="btn btn-danger  btn-lg"
                  href="javascript:void(0)"
                  (click)="login()"
                >
                  Login
                </a>
              </div>
              <br />
              <span class="forgot-password">
                <div
                  style="display: flex; justify-content: center; width: 100%"
                >
                  <a
                    href="no-javascript1.html"
                    title="Forgot Password"
                    class="idle"
                    id="link-sign up"
                    [routerLink]="['/register']"
                    >Don't have an account ? sign up.</a
                  >
                </div>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
