<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <br />
        <div class="card-header">
          <h5 class="title">Ajout d'un Batiment</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> Code Batiment </label>
                  <input
                    class="form-control"
                    name="BuildingCode"
                    [(ngModel)]="Building.BuildingCode"
                    placeholder="Code Batiment "
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label> Label Batiment </label>
                  <input
                    class="form-control"
                    name="BuildingLabel"
                    [(ngModel)]="Building.BuildingLabel"
                    placeholder="Label Batiment"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> Region Batiment </label>
                  <input
                    class="form-control"
                    name="BuildingArea"
                    placeholder="Region Batiment"
                    type="text"
                    [(ngModel)]="Building.BuildingArea"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label> Adress Batiment</label>
                  <input
                    class="form-control"
                    name="BuildingAdress"
                    [(ngModel)]="Building.BuildingAdress"
                    placeholder="Adress Batiment"
                    type="text"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label> Nombre Des Couvoir </label>
                  <input
                    class="form-control"
                    name="Couvoir"
                    placeholder="Nombre Des Couvoir"
                    type="text"
                    [(ngModel)]="Building.Couvoir"
                  />
                </div>
              </div>

              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label> Souche </label>
                  <input
                    class="form-control"
                    name="Souche"
                    type="text"
                    placeholder="Souche"
                    [(ngModel)]="Building.Souche"
                  />
                </div>
              </div>
              <div class="col-md-4 px-md-1">
                <div class="form-group">
                  <label> Age </label>
                  <br />
                  <input
                    class="form-control"
                    name="Age"
                    type="text"
                    placeholder="Age"
                    [(ngModel)]="Building.Age"
                  />
                </div>
              </div>
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> rotation </label>
                  <br />
                  <input
                    class="form-control"
                    name="rotation"
                    type="text"
                    placeholder="rotation"
                    [(ngModel)]="Building.rotation"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label> Type </label>
                  <select [(ngModel)]="Building.TypeId" class="form-control">
                    <option value="default">Type</option>
                    <option *ngFor="let type of types" [value]="type">
                      {{ type.libSouche }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="card-footer">
          <div style="margin-left: 37%">
            <button class="btn btn-danger" (click)="AddBuilding()">
              Ajouter
            </button>

            <a
              class="btn btn-danger btn-simple"
              title="Annuler"
              (click)="closeDialog()"
              id="Annuler"
              >Annuler</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
