<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<div class="content">
  <div class="row">
    <div >
      <div class="card " style="  
      maegin-left:65%;
      height: 520px;
      width: 700px;
      background-color: rgba(32, 36, 76, 0);
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(6, 203, 252, 0.655);
      box-shadow: 0 0 40px rgba(57, 2, 255, 0.259);
      ">  
              <br />
        <div class="card-header">
          <h1 class="title">Ajouter un centre</h1>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="CenterLabel"
                    placeholder="CenterLabel "

                    [(ngModel)]="center.centerLabel"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <input
                  class="form-control"
                  placeholder="CenterCode"
                  name="CenterCode"
                  [(ngModel)]="center.centerCode"
                  type="text"
                />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="blPrefixNumber"
                    placeholder="blPrefixNumber "

                    [(ngModel)]="center.blPrefixNumber"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <input
                    class="form-control"
                    [(ngModel)]="center.socialReason"
                    name="SocialReason"
                    placeholder="SocialReason "
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="CodeSpecification"
                    placeholder="CodeSpecification"
                    [(ngModel)]="center.codeSpecification"
                   
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <input
                  class="form-control"
                  [(ngModel)]="center.rotationActuelle"
                  name="rotationActuelle"
                  placeholder="rotationActuelle "
                  type="text"
                />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <input
                    class="form-control"
                    name="BuildingNumber"
                    [(ngModel)]="center.buildingNumber"
                    placeholder="BuildingNumber"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                 
                <input
                class="form-control"
                placeholder="usefulSurface"
                name="usefulSurface"
                [(ngModel)]="center.usefulSurface"
                type="text"
              />
                </div>
              </div>
            
            </div>
          </form>
        </div>
        <div class="card-footer">
            <div class="text-center" style="margin-top: -1cm;">
              <a
              class="btn btn-danger"
              href="javascript:void(0)"
              (click)="AddCenter()"
            >
              Ajouter
            </a>
            <a
              class="btn btn-danger btn-simple"
              title="Annuler"
              (click)="closeDialog()"
              id="Annuler"
              >Annuler</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
