<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
  </head>
  <body class="account-settings">
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>

    <app-navbar></app-navbar>

    <app-profilepage></app-profilepage>

    <div class="">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="section">
                <section>
                  <br />
                  <ul class="nav flex-column" role="tablist">
                    <li class="nav-item">
                      <a
                        [routerLink]="['/updateprofile']"
                        class="nav-link active idle"
                        data-toggle="tab"
                        href="#link1"
                        role="tablist"
                      >
                        General
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link idle"
                        data-toggle="tab"
                        href="#link3"
                        role="tablist"
                      >
                        Security
                      </a>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
            <div class="col-md-8 ml-auto">
              <div class="section">
                <div class="tab-content">
                  <div class="tab-pane active" id="link1">
                    <div>
                      <header>
                        <h2 class="text-uppercase idle">
                          Changer votre mot de passe
                        </h2>
                      </header>

                      <div class="row">
                        <div class="col-md-3 align-self-center">
                          <label class="labels" for="#email"
                            >Neauveau mot de passe</label
                          >
                        </div>
                        <div class="col-md-9 align-self-center">
                          <div class="form-group">
                            <input
                              id="newpassword"
                              [(ngModel)]="form.password"
                              name="password"
                              class="form-control"
                              type="password"
                              required="required"
                              minlength="5"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-3 align-self-center">
                          <label class="labels" for="#confirmEmail"
                            >Confirmer votre neauveau mot de passe</label
                          >
                        </div>
                        <div class="col-md-9 align-self-center">
                          <div class="form-group">
                            <input
                              id="confirmnewpassword"
                              [(ngModel)]="form.confirmpassword"
                              name="confirmnewpassword"
                              class="form-control"
                              type="password"
                              required="required"
                              minlength="5"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="row mt-4">
                        <div class="col-md-6">
                          <button
                            class="btn btn-danger"
                            type="submit"
                            (click)="reset()"
                          >
                            Modifier
                          </button>
                          <button
                            class="btn btn-danger btn-simple"
                            (click)="cancelUpdate()"
                            type="reset"
                          >
                            Annuler
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
