<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">Demander un veterinaire</h1>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-single-02"> </i>
                </div>
              </div>
              <input
                class="form-control"
                placeholder="Neauveau Role"
                name="role"
                required
                minlength="5"
                type="text"
                (focus)="focus = true"
                (blur)="focus = false"
              />
            </div>
            <br />
            <br />

            <textarea
              class="form-control"
              id="w3review"
              name="w3review"
              rows="4"
              cols="50"
            >
                    Pourquoi vous avez besoin d'un veto          
        </textarea
            >

            <div class="card-footer">
              <div class="text-center">
                <a class="btn btn-danger" href="javascript:void(0)">
                  Demander
                </a>
                <br />
                <a
                  class="btn btn-danger btn-simple"
                  title="Annuler"
                  (click)="closeDialog()"
                  id="Annuler"
                  >Annuler</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
