<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<div class="container">
  <div class="row">
    <div >
      <div class="card " style="  
      height: 620px;
      width: 700px;
      background-color: rgba(32, 36, 76, 0.445);
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(252, 6, 6, 0.655);
      box-shadow: 0 0 40px rgba(244, 141, 141, 0.259);
      ">         <div class="card-header">
          <h1 class="card-title">Ajouter une vehicule</h1>
        </div>
        <div class="card-body">
          <form class="form">
            <label> Matricule </label>

            <div class="form-group">
              <input
                class="form-control"
                placeholder="Matricule"
                [(ngModel)]="Vehicule.Matricule"
                name="Matricule"
                required
                minlength="5"
                type="text"
              
              />
            </div>
            <label> Proprietaire </label>

            <div class="form-group">
         
              <input
                class="form-control"
                placeholder="Proprietaire"
                [(ngModel)]="Vehicule.Proprietaire"
                name="Proprietaire"
                type="text"
                required
                minlength="5"
                
              />
            </div>
            <label> capacite </label>

            <div class="form-group">

              <input
                class="form-control"
                placeholder="capacite"
                required
                minlength="8"
                maxlength="8"
                type="text"
                [(ngModel)]="Vehicule.capacite"
                name="capacite"
                
              />
            </div>

            <div class="form-group">
              <label> Status </label>
              <br />
              <bSwitch
                class="idle"
                name="Status"
                [(ngModel)]="Vehicule.State"
                [switch-on-color]="'danger'"
                [switch-off-color]="'danger'"
                [switch-off-text]="'Non '"
                [switch-on-text]="'Oui '"
              >
              </bSwitch>
            </div>
            <div class="card-footer">
              <div class="text-center">
                <a
                  class="btn btn-danger"
                  href="javascript:void(0)"
                  (click)="AddVehicule()"
                >
                  Ajouter
                </a>

                <a
                  class="btn btn-danger btn-simple"
                  title="Annuler"
                  (click)="closeDialog()"
                  id="Annuler"
                  >Annuler</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
