<div class="card-header">
  <h2 class="text-uppercase idle">Liste des Domaines</h2>

  <br />
  <div style="width: 200px; margin-left: 85%; margin-top: -3%">
    <input
      class="form-control"
      placeholder="Chercher"
      type="text"
      [(ngModel)]="searchtext"
    />
  </div>
  <a
    href="javascript:void(0) "
    class="btn btn-success btn-simple"
    (click)="opendialog()"
  >
    Ajouter un Domaine
  </a>
</div>
<br />
<br />

<br />

<table
  matSort
  (matSortChange)="sortData($event)"
  id="datatables-buttons"
  class="table table-striped"
  style="width: 100%"
>
  <thead>
    <tr>
      <th mat-sort-header="domaineName">Nom domaine</th>
      <th mat-sort-header="raisonSocial">Raison Social</th>
      <th mat-sort-header="Code">Code domaine</th>
      <th mat-sort-header="CapitalSocial">Capital Social</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of Domain | filter : searchtext">
      <td>{{ c.domaineName }}</td>
      <td>{{ c.raisonSocial }}</td>
      <td>{{ c.code }}</td>
      <td>{{ c.capitalSocial }}</td>
      <td>
        <button class="btn btn-danger" (click)="Delete(c.domaineId)">
          Delete
        </button>
      </td>
      <td>
        <button class="btn btn-success">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination
  class="pagination-danger"
  [totalItems]="Domain.length"
  [itemsPerPage]="5"
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;"
></pagination>
