<div class="card-header">
  <h3 class="card-title">Types</h3>
  <br />
  <div style="width: 200px; margin-left: 85%; margin-top: -3%">
    <input
      class="form-control"
      placeholder="Chercher"
      type="text"
      [(ngModel)]="searchtext"
    />
  </div>
  <a href="javascript:void(0) " class="text-success" (click)="opendialog()">
    Ajouter un Type
  </a>
</div>
<br />
<br />

<br />

<table
  matSort
  (matSortChange)="sortData($event)"
  id="datatables-buttons"
  class="table table-striped"
  style="width: 100%"
>
  <thead>
    <tr>
      <th mat-sort-header="codeSouche">Code Souche</th>
      <th mat-sort-header="libSouche">Lib Souche</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of returnedArray | filter : searchtext">
      <td>{{ c.codeSouche }}</td>

      <td>{{ c.libSouche }}</td>

      <td>
        <button class="btn btn-danger" (click)="Delete(c.typeId)">
          Delete
        </button>
      </td>
      <td>
        <button class="btn btn-success">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination
  class="pagination-danger"
  [totalItems]="type.length"
  [itemsPerPage]="5"
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;"
></pagination>